.div3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 120px;
}
.div3-details {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  gap: 20px;
}
.div3-details img {
  height: 65px;
  justify-self: center;
}
.div3-details p {
  font-size: 24px;
  font-weight: 700;
}
