.div5 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  margin-top: 140px;
}
.div5-container1 {
  width: 500px;
  display: grid;
  grid-template-columns: 1fr;
  align-items: start;
  justify-content: start;
}
.img1 {
  height: 500px;
}
.img2 {
  height: 465px;
}
.sub-tittle {
  font-size: 16px;
  font-weight: 500;
  color: #3ba0ff;
  display: inline-block;
}
.tittle {
  font-size: 49px;
  display: block;
  color: #030431;
  font-weight: 600;
}
.discription {
  font-size: 16px;
  color: #64676c;
  line-height: 1.6;
}
.list {
  list-style: none;
}
.list li p {
  vertical-align: middle;
  display: inline-block;
}
.list li {
  display: grid;
  grid-template-columns: 50px 1fr;
  justify-items: start;
  align-items: center;
}
.div5-container1 button {
  justify-self: start;
  padding: 10px 29px;
  background: #2d3092;
  font-size: 16px;
  color: white;
  border: none;
  font-weight: 700;
  transition: all 0.15s;
  border-radius: 3px;
}
/*--------Hover--------*/
.div5-container1 button:hover {
  background-color: #007bff;
}
