*{
	font-family: Geologica;;

}
.person1{
	margin: 20px;
	height: 50px;
	width: 50px;
	border-radius: 1000px;
	display: inline-block;
	vertical-align: middle;
}
.message{

	display: inline-block;
	vertical-align: middle;
	color: grey;
	margin-right: 100px; 

}
.tweet{
	padding: 3px;
	padding-left: 8px;
	padding-right: 8px;
	border-radius: 20px;
	color: white;
	background-color: rgb(0,133,255);
	border:none;


}
.grids{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: center;



}
.tab2{
	margin: 5px;
	line-height: 2px;
	
	display: inline-block;
	box-shadow: 2px 2px 8px rgba(0,0,0,0.5);
	padding-bottom: 7px;
}
.name1_2{
	margin-left: 7px;
	font-weight: bold;
	font-size: 20px;
}
.status_2{
	margin-left: 7px;
	color: grey;

}
.add_2{
	margin-left: 7px;
	padding: 5px;
	padding-right: 25px;
	padding-left: 25px;
	border-radius: 5px;
	border: 2px solid rgb(0,133,255);
	background-color: rgb(0,133,255);
	color: white;

}