<!DOCTYPE html>
<html>
<head>
	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Geologica:wght@300&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="style.css">
	<title></title>
</head>
<body>
	<div class="tab1">
		<div class="profilediv">
			<img src="image/person2.jpg" class="profile">
		</div>
		<div class="namediv">
			<p class="name">Sakura</p>
			<p class="occupation">backend dev</p>
		</div>
		<div class="buttondiv">
			<button class="follow">Follow</button>
		</div>
	</div>
	<div class="tab1">
		<div class="profilediv">
			<img src="image/person1.jpg" class="profile">
		</div>
		<div class="namediv">
			<p class="name">Selena</p>
			<p class="occupation">frontend dev</p>
		</div>
		<div class="buttondiv">
			<button class="follow">Follow</button>
		</div>
	</div>
	<div class="tab1">
		<div class="profilediv">
			<img src="image/person3.jpg" class="profile">
		</div>
		<div class="namediv">
			<p class="name">Sasuke</p>
			<p class="occupation">Data anaylyis</p>
		</div>
		<div class="buttondiv">
			<button class="follow">Follow</button>
		</div>
	</div>
</body>
</html>