<!DOCTYPE html>
<html>
<head>
	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Geologica:wght@300&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="youtube video.css">
	<title>youtube-portfolio</title>
</head>
<body>
	<div class="colunm">
		<div class="video-thumbline">
			<img src="image/portfolio.jpg" class="video-pic">
		</div>
		<div class="video-detail">
			<p class="video-title">
				Create a Responsive Personal Portfolio Website Design using HTML CSS and JavaScript
			</p>
			<img src="image/logo1.jpg" class="channel-logo">
			<p class="channel-name">
				Cryptical Coder
			</p>
			<p class="others">
				654K views • 1 year ago 
			</p>
		</div>

		<div class="colunm">
		<div class="video-thumbline">
			<img src="image/portfolio2.jpg" class="video-pic">
		</div>
		<div class="video-detail">
			<p class="video-title">
				Animated PORTFOLIO Website Template In Html CSS And JS | Personal Website with Typing Animation
			</p>
			<img src="image/logo2.jpg" class="channel-logo">
			<p class="channel-name">
				WebKitCoding
			</p>
			<p class="others">
				364K views • 1 year ago 
			</p>
		</div>
		<div class="colunm">
		<div class="video-thumbline">
			<img src="image/portfolio1.jpg" class="video-pic">
		</div>
		<div class="video-detail">
			<p class="video-title">
				Responsive Personal Portfolio Website Using HTML CSS And JavaScript | Dark/Light Mode
			</p>
			<img src="image/logo3.jpg" class="channel-logo">
			<p class="channel-name">
				Bedimcode 
			</p>
			<p class="others">
				1.4M views • 2 years ago 
			</p>
		</div>
	</div>
</body>
</html>