.subscribe-button{
	background-color: red;
	color: white;
	height: 36px;
	width: 105px;
	border-radius: 5px;
	font-weight: bold;
	cursor: pointer;

}
.join-button{
	background-color: white;
	color: blue;
	height: 36px;
	width: 60px;
	border-radius: 5px;
	border: 1px solid blue;
	font-weight: bold;
	cursor: pointer;
}
.tweeter-button{
	background-color: blue;
	color: white;
	height: 36px;
	width: 70px;
	border-radius: 20px;
	font-weight: bold;
	cursor: pointer;
	border: none;

}
.Request-now-button{
	background-color: black;
	color: white;
	height: 36px;
	width: 105px;
	cursor: pointer;
}
.Add-to-cart-button{
	background-color: rgb(255,216,20);
	border: none;
	height: 30px;
	width: 140px;
	cursor: pointer;
	font-weight: bold;
	border-radius: 20px;

}
.Apply-on-company-website-button{
	background-color: rgb(10,102,194);
	color: white;
	border: none;
	height: 30px;
	width: 220px;
	cursor: pointer;
	font-weight: bold;
	border-radius: 20px;

}
.Save-button{
	background-color: white;
	color: rgb(10,102,194);
	border: 1px solid rgb(10,102,194);
	height: 30px;
	width: 70px;
	cursor: pointer;
	font-weight: bold;
	border-radius: 20px;
}