.div4{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin-top: 230px;
	position: relative;
	padding-bottom: 30px;

}

.div41, .div42{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 40px 30px 40px 30px

}

.div41-imagediv, .div42-imagediv{
	height: 304px;
	width: 304px;
	background-image: url(image/div4image1.jpg);
	background-position: center;
	background-size: cover; 
	border-radius: 152px;

}
.div41content, .div42content{
	width: 500px;
}
.div41content h3, .div42content h3{
	font-size: 40px;
	margin-bottom:25px; 
}
.div41content p, .div42content p{
	font-size: 22px;
	margin-bottom: 25px;
}
.div41content a, .div42content a{
	font-size: 22px;
	margin-bottom: 25px;
	color: black;
	text-underline-offset:8px;
	cursor: pointer
}
.div41content a:hover{
	text-decoration: none;
}
.div42content a:hover{
	text-decoration: none;
}
.div4middle{
	height: 304px;
	width: 304px;
	background-image: url(image/div4image3.jpg);
	background-position: center;
	background-size: cover; 
	border-radius: 152px;
	position: absolute;
	top: 55%;
	left:48%;
	transform: translate(-50%,-50%);
}
.div42-imagediv{
	background-image: url(image/div4image2.jpg);
}
.div41{
	background-color: rgb(204,211,219);
	
}