
.div61{
	display: flex;
	flex-direction: column;
	padding-bottom: 100px;
	background-color: rgb(204, 211, 219);
	margin-bottom:50px;
	padding: 60px 0px; 
}
.div61-master-tittle{
	align-self: flex-start;
	width: 600px;
	padding-left: 60px;
}	
.div61-sub-tittle{
	align-self: flex-end;
	width: 600px;
	padding-right: 60px;
}
.div61-sub-tittle p{
	font-size: 22px;
	letter-spacing: 2px;
}
.div61-master-tittle h1{
	font-size: 58px;
}






.div62{
	padding-top: 30px;
	padding-bottom: 60px;
	background-color:rgb(204, 211, 219);	
	
}
.div62-parent{
	width: 647px;
    height: 562px;
    background-size: cover;
    background-position: center;
    background-image: url(image/div6image1.jpg);
    position: relative;
    

 
    
}
.div62-child-round{
	position: absolute;
	width: 204px;
	height: 204px;
	border-radius: 102px;
	background-color: white;
	border: none;
	top: -100px;
	right: -100px;
	background-color:rgba(255, 166, 74, 0.9);
	
}
.div62-parent .div62-content{
	width: 500px;
	background-color:rgb(204, 211, 219);
	position:absolute;
	padding: 90px 50px 200px 345px;
	bottom: -40px;
	right: -600px;
	z-index: -1;
}
.div62-content h2{
	font-size: 42px;
}
.div62-content p{
	font-size: 22px;
}
.div62-content p a{
	color: black;
	text-underline-offset:8px;
}



.div63{
	padding: 0px 30px;
	margin: 60px 0px;
	background-color:rgb(204, 211, 219); 
	display: flex;
	justify-content:flex-end;
	align-items: center;
}
.div63-parent{
	position: relative;
	background-color: white;
	padding: 100px 150px 100px 150px;
	margin: 50px 90px 50px 0px;

}
.div63-child{
	position: absolute;
	width: 300px;
	background-color:rgb(133,142,153);
	top: 50px;
	left: -35%;
	
	
}
.div63-child{
	display: flex;
	flex-direction: column;
	padding: 60px 20px 60px 30px;
}
.div63-child h3{
	font-size: 20px;
	flex: 1;
	margin: 20px 0px;
}

.div63-child p{
	font-size: 16px;
	flex: 1;
}

.user-details input{
	width: 100%;
	padding: 15px 20px;
	margin: 5px 0px;
}
.user-details textarea{
	width: 100%;
	padding: 15px 20px;
	margin: 5px 0px;	
}
.user-details input::placeholder{
	font-size: 18px;
}

.user-details textarea::placeholder{
	font-size: 18px;
}

.user-details button{
	font-size: 16px;
	padding: 10px 20px;
	background-color: transparent;
	border: 2px solid gray;
	color: gray;
	cursor: pointer;
}
.user-details button:hover{
	border: 2px solid transparent;
}
body{
	height: 100000px;
}




