.model{
	font-weight: bold;
	font-size: 25px;
	text-align: center;
	font-family: montserrat;
	line-height: 4px;
}
.oder{
	font-size: 18px;
	font-family: montserrat;
	text-align: center;

}
