body{
	margin: 0;
	padding: 112px 0px;
	background-image: url(Image/background.webp);
	background-repeat: no-repeat;
	background-position: center;
}
*{
	font-family: Geologica;
}
.login-container{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction:column;
}
.login-details{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;

}
.master-tittle{
	font-size: 32px;
	font-weight: normal;
	text-align: center;
	color: rgb(60,60,60);
}
.subtittle{
	font-size:22px; 
	font-weight: normal;
	color: rgb(60,60,60);
}
.login-form input{
	border-radius: 25px;
	padding: 10px 0px 10px 20px;
	margin-right: -10px;
	width: 94%;
	background-color: rgba(255,255,255,0.2);
	border:none;
}
.login-form input:hover{
	background-color:transparent;
	border: 1px solid white;
}
.login-form button{
	margin: 15px 0px;
	border-radius: 25px;
	padding: 10px;
	background-color: rgba(245, 148, 39,0.7);
	border:none;
}
.login-form button:hover{
	background-color: rgba(245, 148, 39,0.5);
}
.login-form{
	display: grid;
	grid-template-columns: 1fr;
	width: 100%;
}
.remember{
	margin-right: 50px;
}
.forgot-link{
	margin-left: 50px;
	text-decoration: none;
	color: white;
}
.others1{
	margin-bottom: 10px;

}

.others2-buttons{
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;


}
.Google{
	flex: 1;
	padding: 8px;
	cursor: pointer;
	background-color: rgba(255,255,255,0.7);
	border: none;
	margin-right: 2px;
}
.Google:hover{
	background-color: rgba(255,255,255,0.9);
}
.facebook{
	flex: 1;
	padding: 8px;
	cursor: pointer;
	background-color: rgba(255,255,255,0.7);
	border: none;
	margin-left: 2px;
}
.facebook:hover{
	background-color: rgba(255,255,255,0.9);
}
.others2{
	text-align: center;
	width: 100%;
}
.border{
	border: 1px solid white;
	padding: 0px 20px 20px 20px; 
}